body {
    background-color: #e5f1ef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    text-align: center;
    
}
.avatar {
    width: 300px;
}
.header-title {
    font-size: 28px;
}
.header-subtitle {
    color: rgb(45, 133, 177);
}
main {
    border: 1px solid darkgrey;
    text-align: center;
}
.skills ol {
    list-style: none;
    
}
.separator {
    width: 50%;
    height: 3px;
    background-color: #7ab;
}
.video iframe {
    width: 800px;
    height: 450px;
}
.ed-table {
border-collapse: collapse;
width: 100%;
}
.ed-table th, .ed-table td {
    border: 1px solid #000;
    padding: 10px;
}
.quote {
    font-size: 32px;
}
.form {
    width: 600px;
    margin: 0 auto;
}
.form-control {
    width: 100%;
}
.control-text {
    width: 70%;
}
.form-submit {
    display: block;
    margin: 0 auto;
}
footer {
    height: 100px;
    text-align: center;
    background-color: #dadada;
}
.contacts-link {
    text-decoration: none;
    color: #000;
}